<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

	<!-- 跳转action -->
	<bean id="gotoAction" class="com.parking.action.GotoAction" scope="prototype"></bean>

	<!-- 配置用户action -->
	<bean id="usersAction" class="com.parking.action.UsersAction"
		scope="prototype">
		<property name="usersService" ref="usersService"></property>
	</bean>
	<!-- 配置公告action -->
	<bean id="noticeAction" class="com.parking.action.NoticeAction"
		scope="prototype">
		<property name="noticeService" ref="noticeService"></property>
	</bean>
	<!-- 配置失物招领action -->
	<bean id="lostAndFoundAction" class="com.parking.action.LostAndFoundAction"
		scope="prototype">
		<property name="lostAndFoundService" ref="lostAndFoundService"></property>
	</bean>
	<!-- 配置车位action -->
	<bean id="parkingSpaceAction" class="com.parking.action.ParkingSpaceAction"
		scope="prototype">
		<property name="parkingSpaceService" ref="parkingSpaceService"></property>
	</bean>
	<!-- 配置预定action -->
	<bean id="schduleAction" class="com.parking.action.SchduleAction"
		scope="prototype">
		<property name="schduleService" ref="schduleService"></property>
	</bean>
	<!-- 配置行车记录action -->
	<bean id="carRecordAction" class="com.parking.action.CarRecordAction"
		scope="prototype">
		<property name="carRecordService" ref="carRecordService"></property>
		<property name="usersService" ref="usersService"></property>
		<property name="reportsService" ref="reportsService"></property>
	</bean>
	<!-- 配置车库action -->
	<bean id="parkingLotAction" class="com.parking.action.ParkingLotAction"
		scope="prototype">
		<property name="parkingLotService" ref="parkingLotService"></property>
	</bean>
	<!-- 配置报表action -->
	<bean id="reportsAction" class="com.parking.action.RepportsAction"
		scope="prototype">
		<property name="reportsService" ref="reportsService"></property>
	</bean>

</beans>